pkgbase = pyrolight-bin
	pkgdesc = Moonlight game-streaming client fork with PyroWave support, for Pyroshine and other compatible hosts
	pkgver = 6.2.3
	pkgrel = 1
	url = https://github.com/karsyboy/pyrolight
	arch = x86_64
	license = GPL-3.0-or-later
	depends = glibc>=2.35
	depends = libgcc
	depends = libstdc++
	depends = libglvnd
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxcursor
	depends = libxrandr
	depends = libxss
	depends = libxtst
	depends = libice
	depends = libsm
	depends = fontconfig
	depends = freetype2
	depends = harfbuzz
	depends = zlib
	depends = e2fsprogs
	depends = libgpg-error
	depends = wayland
	depends = systemd-libs
	depends = alsa-lib
	depends = libva
	depends = bash
	depends = hicolor-icon-theme
	optdepends = vulkan-driver: PyroWave decoding and Vulkan rendering
	optdepends = libpulse: PulseAudio/PipeWire audio output
	optdepends = libdecor: window decorations on Wayland compositors without server-side decorations
	provides = pyrolight=6.2.3
	conflicts = pyrolight
	conflicts = moonlight-qt
	conflicts = moonlight-qt-bin
	conflicts = moonlight-qt-git
	noextract = pyrolight-6.2.3-nfpm.tar.zst
	options = !strip
	options = !debug
	source = pyrolight-6.2.3-nfpm.tar.zst::https://github.com/karsyboy/pyrolight/releases/download/v6.2.3/pyrolight-6.2.3-1-x86_64.pkg.tar.zst
	sha256sums = 5a2e770bc021bdf3be31639843971cd534581cc4e5db1455d707d3ad02493957

pkgname = pyrolight-bin
